<div>
    <a [routerLink]="['/tabs/all-jobs']" routerLinkActive="active">
        <img src="home.png" alt="Back"/>
    </a>
</div>
@if(isFetching() &&  !error()) {
  <p class="fallback-text">Loading job details...</p>
}
@if (error()) {
  <p class="error-text">{{error()}}</p>
}
<div class="job-details">
  <div class="job-header">
    <img [src]="jobDetails()?.companyLogo" alt="{{ jobDetails()?.companyName }} logo" width="50" height="50">
    <h1>{{ jobDetails()?.companyName }} - {{ jobDetails()?.title }}</h1>
  </div>
  <div>
    <p>{{ jobDetails()?.types }}, {{ jobDetails()?.industries }}</p>
  </div>
  <div>
    <p><b>Publish Date: </b>{{ jobDetails()?.publishDate }}</p>
    <p><b>Location: </b>{{ jobDetails()?.location }}</p>
    <p><b>Reference: </b>{{ jobDetails()?.reference }}</p>
    <p><b>Description: </b></p>
    <div [innerHTML]="sanitizedDescription">
    </div>
  </div>
</div>
