.job-details {
  margin-top: 30px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  border: 5px;
  border-color: black;
}

.job-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.company-logo {
  margin-right: 10px;
}

.job-details div {
  margin-bottom: 10px;
}

.job-details h1 {
  font-size: 24px;
  margin: 0;
}

.job-details p {
  margin-bottom: 5px;
}

.home {
    height: auto;
    display: block;
}

.fallback-text {
  font-size: 16px;
  color: rgba(36, 53, 55, 0.947);
  text-align: center;
  margin: 20px 0;
}
.error-text {
  font-size: 16px;
  color: red;
  text-align: center;
  margin: 20px 0;
}
