body {
    background-color: hsl(206, 57%, 95%);
    color: #2c5179;
    margin: 0;
    font-family: Arial, sans-serif;
}

.page-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #0056b3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:not(:last-child) {
    margin-right: 2px;
}

nav a:hover {
    background-color: #0074d9;
    color: white;
}

nav a.active {
  background-color: #004494;
  color: white;
}
